html{color:#000;
	background:#D4F4FA; 
	padding:20px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}

h1 {font-size:40px; line-height:0px; font-weight:bold;}
table{border:1px solid blue;}

#top {width:100%;
	padding:0 10px 10px 0;
	text-align:right; font-weight:bold;
}
#header {
	width:400px; height:75px; background-color:#00D8FF;
	border: 2px solid #0100FF; text-align:center;
	
	/* 외곽선 둥글게 만들기, IE지원 안함 */
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-radius: 30px 30px 0 0;
}
#picture{
	width: 400px; float:left;display:inline; height:300px;
}
#navbar{width:400px; height:30px;background-color:#D4F4FA;}
#navbar ul {margin:0;padding:0;}
#navbar ul li {float:left;}
#navbar ul li a{
	color:#fff; background-color:#747474;
	display:block;
	width:100px;
	text-align:center;
	padding:0px 10px; 
	font: bold 12px/30px Tahoma;
	text-decoration:none;
	margin-right:1px;
}
#list{background-color:#fff; width:400px; height:150px;}
#question{background-color:#fff; width:365px; height:190px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-radius: 30px 30px 0 0;
}